/* BASIC STYLES HERE */

.agencyFolder {
  font-size: 12rem;
  margin: 0;
  padding: 0;
  line-height: 12rem;
  z-index: 0;
}

.folderState {
  border-radius: 0.5rem;
  border: 2px solid red;
  padding: 5px;
}

.agencyName {
  font-size: 2rem;
  color: black;
  position: relative;
  top: -7rem;
  z-index: 1;
  text-align: center;
}

.bordered {
  width: fit-content;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  /* border: 2px solid white; */
  /* background-color: #123456b0; */
}